@model IEnumerable<OrderProducts.Models.MenuCategory>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.NameCategory).ToHtmlString(), "Sort",
         new { sort = "nameCategory", direction = @ViewBag.Direction })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.Comment).ToHtmlString(), "Sort",
        new { sort = "comment", direction = @ViewBag.Direction })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.Photo).ToHtmlString(), "Sort",
        new { sort = "photo", direction = @ViewBag.Direction })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Photo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
