@{
    ViewBag.Title = "Доставка и оплата";
    ViewBag.NameSite = "Гурман";
    ViewBag.SelectedMenu = "delivery";
}

<div class="container">
    <h3 class="text-center mt-4">Круглосуточная доставка еды Харьков</h3>
    <p>Бесплатная доставка пиццы и суши в Харькове, а также других блюд осуществляется при минимальном заказе от 199 грн (в зеленом радиусе обозначенном на карте). За пределами зеленого радиуса доставки — стоимость доставки составляет 50 грн (при минимальном заказе от 199 грн). При заказе на сумму 500 грн грн — доставка осуществляться бесплатно.</p>
    <p><strong>Внимание! Скидка при самовывозе действует только при заказах через сайт и службу доставки @ViewBag.NameSite! На заказы оформленные в кафе скидка не распространяеться!!!</strong></p>
    <h4>Круглосуточная доставка еды Харьков от @ViewBag.NameSite — это всегда вкусно и недорого.</h4>
    <p>Еда должна приносить удовольствие — каждый сотрудник @ViewBag.NameSite разделяет это утверждение, и каждый наш клиент может убедиться, что мы строго следуем этому правилу, готовя с душой. Только свежие продукты, только оригинальная старинная итальянская, японская, грузинская рецептура, только профессиональные повара — вот секрет наших горячих блюд, в которых всегда сбалансирована мягкость и жгучесть, насыщенность и деликатность. И мы рады вам сообщить, что теперь вы можете наслаждаться настоящей итальянской, японской, грузинской кухней в любой обстановке благодаря нашей новой услуге: доставке еды.<br> Доставка блюд итальянской, японской, грузинской кухни позволит Вам порадовать себя хорошей едой в суете рабочего дня. Также Вы можете удивить партнеров на совещании приятным разнообразием. К тому же, это отличный вариант в случае, если вы хотите закатить шумную вечеринку, но совершенно не готовы провести весь день у плиты. Заказ еды из @ViewBag.NameSite — приятное дополнение к любой ситуации!<br> При этом вы можете быть уверены, что мы доставляем еду по Харькову быстро. А значит, обедать вы будете с таким же удовольствием.</p>
    <p>@ViewBag.NameSite будет рада обслуживать Вас круглосуточно. Вам не придется доплачивать нам за это. Наслаждайтесь любимыми блюдами итальянской, японской, грузинской кухни.</p>
    <p>Все детали по доставке уточняйте у оператора.</p>

    @Html.Partial("_Phone")
</div>


